h1:nth-child(11){
    background-color: aqua;
}
h1:nth-child(9){
    background-color: aqua;
}
h1:nth-child(7){
    background-color: aqua;
}
h1:nth-child(5){
    background-color: aqua;
}
h1:nth-child(3){
    background-color: aqua;
}
h1:nth-child(1){
    background-color: aqua;
}