*{
    box-sizing: border-box;
}
.box1{
    width: 300px;
    height: 300px;
    border: 2px solid green;
}
.box2{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(10, 238, 250);
    padding: 50px;
   
}
.box3{
    border: 2px solid #e009f8;
    width: 300px;
    padding: 10px;
}
.box3 input{
    width: 100%;
}
